<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8"/>
	
	<link rel="stylesheet" type="text/css" media="screen" href="style.css" />
	
	<script src="https://www.gstatic.com/firebasejs/7.11.0/firebase-app.js"></script>
	<script src="https://www.gstatic.com/firebasejs/7.11.0/firebase-auth.js"></script>
	<script src="https://www.gstatic.com/firebasejs/7.11.0/firebase-database.js"></script>
	<script src="https://www.gstatic.com/firebasejs/7.11.0/firebase-firestore.js"></script>
	
	<script>
	//Your web app's Firebase configuration
	  var firebaseConfig = {
	  	apiKey: "AIzaSyAi82LSIrKJhE-Hi2lDij_ATDq5yD52mIk",
	  	authDomain: "localhost",
	  	databaseURL: "https://coachplan-bcb7e.firebaseio.com",
	  	projectId: "coachplan-bcb7e",
	  	storageBucket: "coachplan-bcb7e.appspot.com",
	  	messagingSenderId: "975486007303",
	  	appId: "1:975486007303:web:208eae0def4e2fad1ed2a2",
	  	measurementId: "G-ZBG24TF978"
	  };
	  	  
	  // Initialize Firebase
	  firebase.initializeApp(firebaseConfig);
  	</script>
	
	<script src="index.js"></script>
	
	<title>Athlete Workout Page</title>
</head>

<body onload="addWorkout()">
	 <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="index">CoachPlan</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="index">Logout<span class="sr-only">(current)</span></a>
    </div>
  </div>
</nav>
	<h1>Athlete Login Page</h1>
	<!--  Commented out Link
	<a href="index">
		<button>Home</button>
	</a>
	-->
	<h2 th:text="${student.userName}"></h2>
	<h3>View Your Scheduled Workouts</h3>

	<table >
		<tr>
			<th>Monday</th>
			<th>Tuesday</th>
			<th>Wednesday</th>
			<th>Thursday</th>
			<th>Friday</th>
			<th>Saturday</th>
			<th>Sunday</th>
		</tr>
		<tr>
			<th class="height-600">
				<form>
					<fieldset>
						<p>
							<textarea th:text="${student.workouts[1]}" id="monday" rows="30" cols="20" readonly></textarea>							
						</p>
					</fieldset>
				</form>
			</th>
			<th>
				<form>
					<fieldset>
						<p>
							<textarea th:text="${student.workouts[5]}" id="tuesday" rows="30" cols="20" readonly></textarea>							
						</p>
					</fieldset>
				</form>
			</th>
			<th>
				<form>
					<fieldset>
						<p>
							<textarea th:text="${student.workouts[6]}" id="wednesday" rows="30" cols="20" readonly></textarea>							
						</p>
					</fieldset>
				</form>
			</th>
			<th>
				<form>
					<fieldset>
						<p>
							<textarea th:text="${student.workouts[4]}" id="thursday" rows="30" cols="20" readonly></textarea>
						</p>
					</fieldset>
				</form>
			</th>
			<th>
				<form>
					<fieldset>
						<p>
							<textarea th:text="${student.workouts[0]}" id="friday" rows="30" cols="20" readonly></textarea>
						</p>
					</fieldset>
				</form>
			</th>
			<th>
				<form>
					<fieldset>
						<p>
							<textarea th:text="${student.workouts[2]}" id="saturday" rows="30" cols="20" readonly></textarea>
						</p>
					</fieldset>
				</form>
			</th>
			<th>
				<form>
					<fieldset>
						<p>
							<textarea th:text="${student.workouts[3]}" id="sunday" rows="30" cols="20" readonly></textarea>
						</p>
					</fieldset>
				</form>
			</th>
		</tr>
	</table>
	
	<br>
	
</body>

</html>