<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"></meta>
<link rel="stylesheet" type="text/css" media="screen" href="athlete.css"/>
<title>Athlete Workout Page</title>
</head>
<body>
<h1>Athlete Login Page</h1>
<a href="index">
	<button>Home</button>
</a>
</br>
</br>

View Your Scheduled Workouts
</br>
</br>

<table>
	<tr>
		<th>Monday</th>
		<th>Tuesday</th>
		<th>Wednesday</th>
		<th>Thursday</th>
		<th>Friday</th>
		<th>Saturday</th>
		<th>Sunday</th>
	</tr>
	<tr>
		<th height="600"></th>
		<th></th>
		<th></th>
		<th></th>
		<th></th>
		<th></th>
		<th></th>
	</tr>
</table>
</body>
</html>