<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	</meta>
	<link rel="stylesheet" type="text/css" media="screen" href="style.css" />
	
	<script src="https://www.gstatic.com/firebasejs/7.11.0/firebase-app.js"></script>
	<script src="https://www.gstatic.com/firebasejs/7.11.0/firebase-auth.js"></script>
	<script src="https://www.gstatic.com/firebasejs/7.11.0/firebase-database.js"></script>
	<script src="https://www.gstatic.com/firebasejs/7.11.0/firebase-firestore.js"></script>
	
	<script src="index.js"></script>
	
	<title>Athlete Workout Page</title>
</head>

<body>
	 <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">CoachPlan</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="index">Logout<span class="sr-only">(current)</span></a>
    </div>
  </div>
</nav>
	<h1>Athlete Login Page</h1>
	<!--  Commented out Link
	<a href="index">
		<button>Home</button>
	</a>
	-->
	
	<h3>View Your Scheduled Workouts</h3>

	<table>
		<tr>
			<th>Monday</th>
			<th>Tuesday</th>
			<th>Wednesday</th>
			<th>Thursday</th>
			<th>Friday</th>
			<th>Saturday</th>
			<th>Sunday</th>
		</tr>
		<tr>
			<th class="height-600"></th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
		</tr>
	</table>
	
	<br>
	
</body>

</html>