<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8"/>
	<link rel="stylesheet" type="text/css" media="screen" href="style.css" />
	
	<script src="https://www.gstatic.com/firebasejs/7.11.0/firebase-app.js"></script>
	<script src="https://www.gstatic.com/firebasejs/7.11.0/firebase-auth.js"></script>
	<script src="https://www.gstatic.com/firebasejs/7.11.0/firebase-database.js"></script>
	<script src="https://www.gstatic.com/firebasejs/7.11.0/firebase-firestore.js"></script>
	
	<script src="index.js"></script>
	
	<title>Athlete List</title>
</head>

<body>
	 <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="athleteList">CoachPlan</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="index">Logout <span class="sr-only">(current)</span></a>
    </div>
  </div>
</nav>
	<h1>Coach login Page</h1>
	<h2 th:text="${coach}"></h2>

	<a class="btn" href="registerAthlete">Add Athlete</a>

	<table>
		<tr>
			<th class="height-100">Athlete</th>
			<th>Workout Schedule</th>
		</tr>
		<tr th:each="student : ${students}">
			<th class="height-50" th:text="${student}"></th>
			<th> <a class='btn' href="edit">Edit</a> </th>
		</tr>
	</table>
	
	<br>
	
</body>

</html>