<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	</meta>
	<link rel="stylesheet" type="text/css" media="screen" href="style.css" />
	
	<script src="https://www.gstatic.com/firebasejs/7.11.0/firebase-app.js"></script>
	<script src="https://www.gstatic.com/firebasejs/7.11.0/firebase-auth.js"></script>
	<script src="https://www.gstatic.com/firebasejs/7.11.0/firebase-database.js"></script>
	<script src="https://www.gstatic.com/firebasejs/7.11.0/firebase-firestore.js"></script>
	
	<script src="index.js"></script>
	
	<title>Edit Athlete Schedule</title>
</head>
<body>
 <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">CoachPlan</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="index">Logout <span class="sr-only">(current)</span></a>
    </div>
  </div>
</nav>
	<h1>Edit Athlete Schedule Page</h1>

	<a class="btn" href="athleteList">Back</a>


<table>
	<tr>
		<th>Monday</th>
		<th>Tuesday</th>
		<th>Wednesday</th>
		<th>Thursday</th>
		<th>Friday</th>
		<th>Saturday</th>
		<th>Sunday</th>
	</tr>
<tr>
		<th class="height-600">
			<form>
				<fieldset>
					<legend>Workout Plan</legend>
					<p>
						<label>Wednesday Plan</label>
						<input type="text" id="myText" value="text here"/>
					</p>
				</fieldset>
			</form>
		</th>
		<th>
			<form>
				<fieldset>
					<legend>Workout Plan</legend>
					<p>
						<label>Tuesday Plan</label>
						<input type="text" id="myText" value="text here"/>
					</p>
				</fieldset>
			</form>
		</th>
		<th>
			<form>
				<fieldset>
					<legend>Workout Plan</legend>
					<p>
						<label>Wednesday Plan</label>
						<input type="text" id="myText" value="text here"/>
					</p>
				</fieldset>
			</form>
		</th>
		<th>
			<form>
				<fieldset>
					<legend>Workout Plan</legend>
					<p>
						<label>Thursday Plan</label>
						<input type="text" id="myText" value="text here"/>
					</p>
				</fieldset>
			</form>
		</th>
		<th>
			<form>
				<fieldset>
					<legend>Workout Plan</legend>
					<p>
						<label>Friday Plan</label>
						<input type="text" id="myText" value="text here"/>
					</p>
				</fieldset>
			</form>
		</th>
		<th>
			<form>
				<fieldset>
					<legend>Workout Plan</legend>
					<p>
						<label>Saturday Plan</label>
						<input type="text" id="myText" value="text here"/>
					</p>
				</fieldset>
			</form>
		</th>
		<th>
			<form>
				<fieldset>
					<legend>Workout Plan</legend>
					<p>
						<label>Wednesday Plan</label>
						<input type="text" id="myText" value="text here"/>
					</p>
				</fieldset>
			</form>
		</th>
	</tr>
</table>
</body>
</html>