<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>

	<link rel="stylesheet" type="text/css" media="screen" href="style.css" />
	
	<script src="https://www.gstatic.com/firebasejs/7.11.0/firebase-app.js"></script>
	<script src="https://www.gstatic.com/firebasejs/7.11.0/firebase-auth.js"></script>
	<script src="https://www.gstatic.com/firebasejs/7.11.0/firebase-database.js"></script>
	<script src="https://www.gstatic.com/firebasejs/7.11.0/firebase-firestore.js"></script>
	
	<script src="index.js"></script>
	
	<title>View Athlete Schedule</title>
</head>
<body>
 <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="athleteList">CoachPlan</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="index">Logout <span class="sr-only">(current)</span></a>
    </div>
  </div>
</nav>
	<h1>View Athlete Schedule Page</h1>
	<h2 th:text="${student.userName}"></h2>
	
	
	
	<a class="btn" th:href="@{/athleteList(email=${coach.email})}">Back</a>
<form action="#" th:action="@{/edit(studentEmail=${student.email}, coachEmail=${coach.email})}" th:object="${studentDTO}" method="post">
<table>
	<tr>
		<th>Monday</th>
		<th>Tuesday</th>
		<th>Wednesday</th>
		<th>Thursday</th>
		<th>Friday</th>
		<th>Saturday</th>
		<th>Sunday</th>
	</tr>
	<tr>
		<th class="height-600">
				<fieldset>
					<p>
						<textarea th:text="${student.workouts[1]}" id="monday"   rows="30" cols="20" readonly></textarea>						
					</p>
				</fieldset>
		</th>
		<th>
				<fieldset>
					<p>
						<textarea th:text="${student.workouts[5]}" id="tuesday"  rows="30" cols="20" readonly></textarea>						
					</p>
				</fieldset>
		</th>
		<th>
				<fieldset>
					<p>
						<textarea th:text="${student.workouts[6]}" id="wednesday"  rows="30" cols="20" readonly></textarea>						
					</p>
				</fieldset>
		</th>
		<th>
				<fieldset>
					<p>
						<textarea th:text="${student.workouts[4]}" id="thursday"  rows="30" cols="20" readonly></textarea>
					</p>
				</fieldset>
		</th>
		<th>
				<fieldset>
					<p>
						<textarea th:text="${student.workouts[0]}" id="friday"  rows="30" cols="20" readonly></textarea>
					</p>
				</fieldset>
		</th>
		<th>
				<fieldset>
					<p>
						<textarea th:text="${student.workouts[2]}" id="saturday"  rows="30" cols="20" readonly></textarea>
					</p>
				</fieldset>
		</th>
		<th>
				<fieldset>
					<p>
						<textarea th:text="${student.workouts[3]}" id="sunday" rows="30" cols="20" readonly></textarea>
					</p>
				</fieldset>
		</th>
	</tr>
</table>
	<input id="button" class="btn-athlete" value="Edit Schedule" type="submit"/>
</form>

</body>
</html>