<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"></meta>
<link rel="stylesheet" type="text/css" media="screen" href="style.css"/>
<title>View/Edit Athlete Schedule</title>
</head>
<body>
	<h1>Edit Athlete Schedule Page</h1>
	<a href="athleteList">
		<button>Back</button>
	</a>
	</br>
	</br>
	<a href="index">
		<button>Home</button>
	</a>
	</br>
	</br>

<table>
	<tr>
		<th>Monday</th>
		<th>Tuesday</th>
		<th>Wednesday</th>
		<th>Thursday</th>
		<th>Friday</th>
		<th>Saturday</th>
		<th>Sunday</th>
	</tr>
	<tr>
		<th height="600"></th>
		<th></th>
		<th></th>
		<th></th>
		<th></th>
		<th></th>
		<th></th>
	</tr>
</table>
</body>
</html>