<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1"></meta>
<title>CoachPlan</title>
</head>
<body>
<h1>Welcome to CoachPlan!</h1>
</br>
Access to the Coach Interface </br>
<a href="athleteList">
	<button>Coach</button>
</a>
</br>
</br>
Access to the Athlete Interface </br>
<a href="athlete">
	<button>Athlete</button>
</a>
</br>
</br>
</br>
</br>
Enter New User Information: </br></br>
<form action="#" th:action="@{/createAthlete}" method="GET">
  <p>
  	ID : <input type="text" name="id" />
  </p>
  <p>
  	Name : <input type="text" name="name" />
  </p>
  <p>
  	Title : <input type="text" name="title" />
  </p>
  <button name="submit" type="submit" value="0">Submit</button>
</form>

</body>
</html>