<!DOCTYPE html>
<html>

<head>
  <meta charset="ISO-8859-1">
  </meta>
  <title>CoachPlan</title>
  <link rel="stylesheet" type="text/css" media="screen" href="style.css"/>
</head>

<body>
  <h1>Welcome to CoachPlan!</h1>

  <h3>
    Access to the Coach Interface </br>
  </h3>

  <a class='link-button' href="athleteList">Coach</a>
  
  <h3>
    Access to the Athlete Interface
  </h3>

  <a class='link-button' href="athlete">Athlete</a>

  Login Interface is not working yet
  <form action="">
    <label for="fname">First name:</label><br>
    <input type="text" id="fname" name="fname"><br>
    <label for="lname">Last name:</label><br>
    <input type="text" id="lname" name="lname"><br><br>
    <input type="submit" value="Submit">
  </form>

</body>

</html>