<!DOCTYPE html>
<html>

<head>
  <meta charset="ISO-8859-1">
  <title>CoachPlan</title>
  <link rel="stylesheet" type="text/css" media="screen" href="style.css"/>
   <script>https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js</script>
  
  <script src="https://www.gstatic.com/firebasejs/7.11.0/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.11.0/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.11.0/firebase-database.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.11.0/firebase-firestore.js"></script>
  
  <script>
	//Your web app's Firebase configuration
	  var firebaseConfig = {
	  	apiKey: "AIzaSyAi82LSIrKJhE-Hi2lDij_ATDq5yD52mIk",
	  	authDomain: "localhost",
	  	databaseURL: "https://coachplan-bcb7e.firebaseio.com",
	  	projectId: "coachplan-bcb7e",
	  	storageBucket: "coachplan-bcb7e.appspot.com",
	  	messagingSenderId: "975486007303",
	  	appId: "1:975486007303:web:208eae0def4e2fad1ed2a2",
	  	measurementId: "G-ZBG24TF978"
	  };
	  	  
	  // Initialize Firebase
	  firebase.initializeApp(firebaseConfig);
  </script>
	
  <script src="index.js"></script>
  
  <script type="text/javascript">


	function student(){
		var login = document.getElementById("login");
		var initial = document.getElementById("initial");
		var view = document.getElementById("view");
		var user = document.getElementById("user");
		var email = document.getElementById("email");
		var password = document.getElementById("password");
		var form = document.getElementById("form2");
		
		initial.style.display="none";
		login.style.display="inline";
		view.innerHTML=("Athlete Login");
		user.innerHTML=("Athlete Credentials:");
		email.innerHTML=("Email: athlete@plan.com");
		password.innerHTML=("Password: password");
		form.style.display=("none");
		
	}
	
	function coach(){
		var login = document.getElementById("login");
		var initial = document.getElementById("initial");
		var view = document.getElementById("view");
		var user = document.getElementById("user");
		var email = document.getElementById("email");
		var password = document.getElementById("password");
		var form = document.getElementById("form2");
		
		
		initial.style.display="none";
		login.style.display="inline";
		view.innerHTML=("Coach Login");
		user.innerHTML=("Coach Credentials:");
		email.innerHTML=("Email: coach@plan.com");
		password.innerHTML=("Password: password");
		form.style.display=("inline");
		
		
	}
	
	function home(){
		var login = document.getElementById("login");
		var initial = document.getElementById("initial");
		
		initial.style.display="inline";
		login.style.display="none";
		
	}
	
	function coachRegister(){
		var login = document.getElementById("login");
		var initial = document.getElementById("initial");
		var view = document.getElementById("view");
		var user = document.getElementById("user");
		var email = document.getElementById("email");
		var password = document.getElementById("password");
		var button = document.getElementById("button");
		var emailField = document.getElementById("email_field");
		var confirm = document.getElementById("confirm_password_field");
		
		initial.style.display="none";
		login.style.display="inline";
		view.innerHTML=("Register Coach");
		button.value=("Register");
		emailField.placeholder=("Email");
		confirm.style.display="inline";
	
	}
  
  </script>
</head>



 <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">CoachPlan</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#" onclick="home()">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="#" onclick="coach()">Coach Login</a>
      <a class="nav-item nav-link" href="#" onclick="student()">Athlete Login</a>
      <!-- <a class="nav-item nav-link" href="registerAthlete" >Register Athlete</a> -->
      
<!--       <a class="nav-item nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
 -->    </div>
  </div>
</nav>

<div id="initial">
	<h2 >Welcome to CoachPlan</h2>


<div>
	<h3>About Us</h3>
	<p></p>
</div>
<div>
	<h3>Concept</h3>
<div class="container">
		<div class="one">
		<h4>Coach</h4>
			<ol>
				<li>Create an account</li>
				<li>Create an athlete</li>
				<li>Send your athlete his/her id</li>
				<li>Update his/her workout schedule</li>
			</ol>
		</div>
		<div class="two">
		<h4>Athlete</h4>
			<ol>
				<li>Login with the info your coach sent you</li>
				<li>Do your workout</li>
				<li>Leave a feedback</li>
				<li>Repeat</li>
			</ol>
		</div>
		
</div> 
</div>
</div>

<div class="login-box" id="login" style="display: none" >

<div >
	<h1 id="view">Login</h1>
	<div class="textbox">
		<input type="email" placeholder="Email" id="email_field">
	</div>
	
	<div class="textbox">
		<input type="password" placeholder="Password" id="password_field">
	</div>
	
	<input id="button" class="btn" value="Login" type="button" onclick="login()"> <br>
	<!-- <input class="btn" value="Logout" type="button" onclick="signOut()"> -->
	<div id="user">User</div>
	<div id="email">email</div>
	<div id="password">password</div>
	
	<form id="form2" action="#" th:action="@{/registerCoach}" method="GET">
			<h1 id="view">Register Coach</h1>
		<div class="textbox">
			<input type="text" placeholder="Name" name="name" id="name" required>
		</div>
			
		<div class="textbox">
			<input type="email" placeholder="Email" name="email" id="email" required>
		</div>
		
		<div class="textbox">
			<input type="password" placeholder="Password" name= "password" id="password" required>
		</div>
		
		<div class="textbox">
			<input type="password" placeholder="Confirm Password" id="confirm_field" required>
		</div>
		
		<input id="button" class="btn" value="Register" type="submit" onclick=""> <br>
	</form>



</div>

<!-- Commenting out backup Links -->
<!--
Back-up Links:

<h4>
    Access to the Coach Interface </br>
  </h4>

  <a class='link-button' href="athleteList">Coach</a>
  
  <h4>
    Access to the Athlete Interface
  </h4>

  <a class='link-button' href="athlete">Athlete</a>
  -->

</div>

</html>