<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"></meta>
<title>Register Athlete</title>
<link rel="stylesheet" type="text/css" media="screen" href="style.css"/>
</head>
<body>


	<div class="login-box-register" id="login">
	
		<h1>Register Athlete</h1>
		<div class="textbox">
			<input type="text" placeholder="Email" id="email_field">
		</div>
		
		<div class="textbox">
			<input type="password" placeholder="Password" id="password_field">
		</div>
		
		<div class="textbox">
			<input type="password" placeholder="Confirm Password" id="password_field">
		</div>
		
		<input id="button" class="btn" value="Create" type="button" onclick="login()"> <br>
	</div>
</body>
</html>