<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>

	<link rel="stylesheet" type="text/css" media="screen" href="style.css" />
	
	<script src="https://www.gstatic.com/firebasejs/7.11.0/firebase-app.js"></script>
	<script src="https://www.gstatic.com/firebasejs/7.11.0/firebase-auth.js"></script>
	<script src="https://www.gstatic.com/firebasejs/7.11.0/firebase-database.js"></script>
	<script src="https://www.gstatic.com/firebasejs/7.11.0/firebase-firestore.js"></script>
	
	<script src="index.js"></script>
	
<title>Register Athlete</title>
<link rel="stylesheet" type="text/css" media="screen" href="style.css"/>
</head>
<body>
	 <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="athleteList">CoachPlan</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="index">Logout <span class="sr-only">(current)</span></a>
    </div>
  </div>
</nav>
	<!-- Below is code for linking controller action -->
	<!-- action="#" th:action="@{/registerAthlete}" method="GET" -->
	<form class="login-box-register" id="login" action="#" th:action="@{/addAthlete}" method="GET" >
	
		<h1>Register Athlete</h1>
		<div class="textbox">
			<input type="text" placeholder="Name" name="name" id="name" required>
		</div>
		
		<div class="textbox">
			<input type="email" placeholder="Email" name="email" id="email" required>
		</div>
		
		<div class="textbox">
			<input type="password" placeholder="Password" name="password" id="password" required>
		</div>
		
		<div class="textbox">
			<input type="password" placeholder="Confirm Password" id="password_field" required>
		</div>
		<input type = "hidden" id="hiddenField" name="id" th:value="${coach.coachId}">
		
		<input id="button" class="btn" value="Create" type="submit" onclick="registerAthlete()"> <br>
	</form>
</body>
</html>